<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ricemarch.chen.mapper.DataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ricemarch.chen.entity.CData">
        <id column="id" property="id" />
        <result column="hash" property="hash" />
        <result column="previous_hash" property="previousHash" />
        <result column="send" property="send" />
        <result column="rece" property="rece" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hash, previous_hash, send, rece, name, create_time, update_time, create_by, update_by, is_delete
    </sql>

</mapper>
